{% extends 'base.html' %}

{% block content %}

    <h3>커뮤니티명: {{ post.title }}</h1>
    <p>커뮤니티 제안자: {{ post.user }}</p>
    <p>게시일: {{ post.pub_date }}</p>
    <p>커뮤니티 목적: {{ post.goal }}</p>
    <p>키워드: {{ post.keyword }}</p>
    <p>내용: {{ post.body }}</p>

<!--좋아요 기능-->
<a href="{% url 'like' post.id %}">
    {% if user in post.like_users.all %}
      <a href="{% url 'like' post.id %}"><i class="fas fa-heart"></i></a>
    {% else %}
      <a href="{% url 'like' post.id %}"><i class="far fa-heart"></i></a>
    {% endif %}
  </a>
  <p>
      <!--좋아요 갯수 카운트-->
      {{ post.like_users.count }} 명이 좋아합니다.
  </p>

{% endblock %}
